api = "0.7"

[buildpack]
  id = "paketo-buildpacks/pipenv"
  name = "Paketo Buildpack for Pipenv"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pipenv/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    checksum = "sha256:36fc2a7841ccdb2f58a9f787b296c2e15dea3b5b79b84d4071812f28b7e8d7a2"
    cpe = "cpe:2.3:a:python-pipenv:pipenv:2025.0.4:*:*:*:*:python:*:*"
    id = "pipenv"
    licenses = ["MIT", "MIT-0"]
    name = "Pipenv"
    purl = "pkg:generic/pipenv@2025.0.4?checksum=36fc2a7841ccdb2f58a9f787b296c2e15dea3b5b79b84d4071812f28b7e8d7a2&download_url=https://files.pythonhosted.org/packages/3b/15/4c869c2ec2819f8e6529cc26a044c9f7c714246c972b9b2cbbafda0847f9/pipenv-2025.0.4.tar.gz"
    source = "https://files.pythonhosted.org/packages/3b/15/4c869c2ec2819f8e6529cc26a044c9f7c714246c972b9b2cbbafda0847f9/pipenv-2025.0.4.tar.gz"
    source-checksum = "sha256:36fc2a7841ccdb2f58a9f787b296c2e15dea3b5b79b84d4071812f28b7e8d7a2"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/3b/15/4c869c2ec2819f8e6529cc26a044c9f7c714246c972b9b2cbbafda0847f9/pipenv-2025.0.4.tar.gz"
    version = "2025.0.4"

  [[metadata.dependencies]]
    checksum = "sha256:c309b5fba6535aca22fd66d3dfcf2d3ca1dd0cae12de52cabecbdddfbfe48938"
    cpe = "cpe:2.3:a:python-pipenv:pipenv:2025.1.1:*:*:*:*:python:*:*"
    id = "pipenv"
    licenses = ["MIT", "MIT-0"]
    name = "Pipenv"
    purl = "pkg:generic/pipenv@2025.1.1?checksum=c309b5fba6535aca22fd66d3dfcf2d3ca1dd0cae12de52cabecbdddfbfe48938&download_url=https://files.pythonhosted.org/packages/c4/63/c7ccbac3aabe294c5cab8cb25956e0cbbda5aeef447985090df7897c1215/pipenv-2025.1.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/c4/63/c7ccbac3aabe294c5cab8cb25956e0cbbda5aeef447985090df7897c1215/pipenv-2025.1.1.tar.gz"
    source-checksum = "sha256:c309b5fba6535aca22fd66d3dfcf2d3ca1dd0cae12de52cabecbdddfbfe48938"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/c4/63/c7ccbac3aabe294c5cab8cb25956e0cbbda5aeef447985090df7897c1215/pipenv-2025.1.1.tar.gz"
    version = "2025.1.1"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "pipenv"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
