api = "0.7"

[buildpack]
  id = "paketo-buildpacks/pipenv"
  name = "Paketo Buildpack for Pipenv"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pipenv/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    checksum = "sha256:93d5eade9f92d1510c76a2038775b823d098b5e00bd0752b032f4cae0f661287"
    cpe = "cpe:2.3:a:python-pipenv:pipenv:2026.0.1:*:*:*:*:python:*:*"
    id = "pipenv"
    licenses = ["MIT", "MIT-0"]
    name = "Pipenv"
    purl = "pkg:generic/pipenv@2026.0.1?checksum=93d5eade9f92d1510c76a2038775b823d098b5e00bd0752b032f4cae0f661287&download_url=https://files.pythonhosted.org/packages/a8/fe/ff0dd4c87ca5afd2c3eccafd1317ff058ee18cf0a9abce3a7f5428fbc935/pipenv-2026.0.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/a8/fe/ff0dd4c87ca5afd2c3eccafd1317ff058ee18cf0a9abce3a7f5428fbc935/pipenv-2026.0.1.tar.gz"
    source-checksum = "sha256:93d5eade9f92d1510c76a2038775b823d098b5e00bd0752b032f4cae0f661287"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/a8/fe/ff0dd4c87ca5afd2c3eccafd1317ff058ee18cf0a9abce3a7f5428fbc935/pipenv-2026.0.1.tar.gz"
    version = "2026.0.1"

  [[metadata.dependencies]]
    checksum = "sha256:19aa881e98513852c5133ac5a2d898d2546654d062f7f524ed8e0f8f222c98b5"
    cpe = "cpe:2.3:a:python-pipenv:pipenv:2026.0.2:*:*:*:*:python:*:*"
    id = "pipenv"
    licenses = ["MIT", "MIT-0"]
    name = "Pipenv"
    purl = "pkg:generic/pipenv@2026.0.2?checksum=19aa881e98513852c5133ac5a2d898d2546654d062f7f524ed8e0f8f222c98b5&download_url=https://files.pythonhosted.org/packages/d8/6c/41efe0b9417023d460049c881aae5860f37a0018b52dcd4d954bc5a57ea2/pipenv-2026.0.2.tar.gz"
    source = "https://files.pythonhosted.org/packages/d8/6c/41efe0b9417023d460049c881aae5860f37a0018b52dcd4d954bc5a57ea2/pipenv-2026.0.2.tar.gz"
    source-checksum = "sha256:19aa881e98513852c5133ac5a2d898d2546654d062f7f524ed8e0f8f222c98b5"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/d8/6c/41efe0b9417023d460049c881aae5860f37a0018b52dcd4d954bc5a57ea2/pipenv-2026.0.2.tar.gz"
    version = "2026.0.2"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "pipenv"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
